<div id="wrapperHeader" class="position-fixed">

    {% include 'front/_partials/header/bannerDiscover.html.twig' %}

    <header class="white">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="d-flex w-100 mw-100 w-md-auto justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <i class="bi bi-list fs-28"></i>
                    <span class="d-none d-sm-block d-md-none ms-1 text-white fw-600 fs-16">Produits</span>
                </div>
                <a class="ms-sm-4" title="Bobochic" href="{{ path('front_home') }}">
                    <img class="logo" alt="Bobochic" height="28" width="145" src="{{ asset('assets/img/logo-bobochic.png') }}" />
                </a>
                <div class="d-md-none">
                    {% include 'front/_partials/header/itemsRight.html.twig' %}
                </div>
            </div>
            <div class="search-group mt-2 mt-md-0">
                <i class="bi bi-search fs-18 me-3"></i>
                <input class="w-100" type="text" placeholder="Rechercher..." aria-label="Rechercher">
            </div>
            <div class="d-none d-md-block">
                {% include 'front/_partials/header/itemsRight.html.twig' %}
            </div>
        </div>
        {% include 'front/_partials/header/nav.html.twig' %}
    </header>
</div>