<div class="d-flex align-items-center">
    <a title="Aide & Contact" class="fs-16" href="#">
        <i class="bi bi-question-circle me-sm-1 fs-18"></i>
        <span class="d-none d-sm-inline">Aide & Contact</span>
    </a>

    <div class="ms-3 ms-sm-4 ms-md-5 d-flex align-items-center">
        <a title="Mon compte" href="#">
            <i class="bi bi-person fs-23"></i>
        </a>
        <a title="Mon panier" class="ms-3 ms-sm-4 position-relative" href="#">
            <i class="bi bi-bag fs-18"></i>
            <div class="badge">
                <span>2</span>
            </div>
        </a>
    </div>
</div>