<nav class="nav mt-3 d-none d-md-flex">
    <a title="French days" class="nav-link" href="#">French days</a>
    <a title="Retours offerts" class="nav-link" href="#">Retours offerts</a>
    <a title="Livraison express" class="nav-link" href="#">Livraison express</a>
    <a title="Octobre Rose" class="nav-link active" href="#">Octobre Rose</a>
    <a title="Conciergerie" class="nav-link" href="#">Conciergerie</a>
    <a title="Espace pro" class="nav-link" href="#">
        <img alt="Espace pro" width="101" height="20" src="{{ asset('assets/img/espace-pro.png') }}" />
    </a>
</nav>