<div id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="#">
                    <i class="bi bi-house"></i>
                    Accueil
                </a>
            </li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item"><a href="#">Page 2</a></li>
            <li class="breadcrumb-item"><a href="#">Page 3</a></li>
            <li class="breadcrumb-item">Page 4</li>
        </ol>
    </nav>
</div>