<div class="row">
    <div class="col-sm-6 order-sm-1 order-md-0 col-md-3 newsletter">
        <h3>Newsletter</h3>
        <hr>
        <label for="email" class="text-white d-flex flex-column fw-sm-700">
            Restez au courant des dernières nouveautés
            <input id="email" class="mt-1" name="email" type="email" placeholder="Votre adresse e-mail">
        </label>
        <button title="Envoyer" class="btn btn-outline-black mw-100 mt-2 mt-sm-4">
            Envoyer
            <i class="bi bi-send ms-2"></i>
        </button>
    </div>
    <div class="col-sm-12 mb-sm-4 mb-md-0 my-4 mt-sm-0 col-md-6">
        <div class="d-flex flex-column flex-sm-row flex-md-column justify-content-between justify-content-md-center align-items-center">
            <div class="d-flex align-items-center flex-md-column">
                <img title="Bobochic" width="72" height="72" alt="Bobochic" src="{{ asset('assets/img/logo-footer.png') }}" />
                <div class="d-flex ms-3 ms-md-0 flex-column flex-md-column justify-content-center align-items-center">
                    <span class="fs-16 lh-24 fw-sm-900 mt-1">@bobochicparis</span>
                    <p class="fs-12 lh-16 mt-1 my-md-3">Suivez nous sur nos réseaux sociaux</p>
                </div>
            </div>
            <div class="d-flex align-items-center social-icon mt-3 mt-sm-0">
                <a href="#" title="Facebook" rel="noopener" target="_blank" class="text-white">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" title="Instagram" rel="noopener" target="_blank" class="text-white mx-4 mx-sm-3">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#" title="Pinterest" rel="noopener" target="_blank" class="text-white">
                    <i class="bi bi-pinterest"></i>
                </a>
                <a href="#" title="Tiktok" rel="noopener" target="_blank" class="text-white mx-4 mx-sm-3">
                    <i class="bi bi-tiktok"></i>
                </a>
                <a href="#" title="Youtube" rel="noopener" target="_blank" class="text-white">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 order-sm-2 order-md-0 col-md-3 contact d-flex flex-column">
        <h3>Contact</h3>
        <hr>
        <p class="fw-sm-900 fs-12 lh-16">
            Une équipe d’experts à votre service, disponible :
        </p>
        <ul class="fw-sm-900 fs-12 lh-16 mb-0">
            <li>du Lundi au Jeudi de 9h à 18h</li>
            <li>le Vendredi de 9h à 17h</li>
        </ul>
        <a class="mt-1 fs-16 fw-sm-900 lh-24 text-white no-underline" href="tel:+33176361235">+33 1 76 36 12 35</a>
        <button title="Nous écrire" class="btn btn-white mw-100 mt-2">
            Nous écrire
            <i class="bi bi-chevron-right ms-2"></i>
        </button>
    </div>
</div>