<div id="footerCopyright" class="d-flex flex-column flex-md-row mt-5 align-items-center justify-content-center justify-content-md-between">
    <ul class="list-unstyled d-lg-flex text-center">
        <li>
            <a title="Mentions légales" href="#" target="_blank" rel="noopener">Mentions légales</a>
        </li>
        <li>
            <a title="Politique de protection des données" href="#" target="_blank" rel="noopener">Politique de protection des données</a>
        </li>
        <li>
            <a title="Politique de cookies" href="#" target="_blank" rel="noopener">Politique de cookies</a>
        </li>
        <li>
            <a title="FAQ" href="#" target="_blank" rel="noopener">FAQ</a>
        </li>
        <li>
            <a title="CGV" href="#" target="_blank" rel="noopener">CGV</a>
        </li>
        <li>
            <a title="Conditions des offres" href="#" target="_blank" rel="noopener">Conditions des offres</a>
        </li>
        <li>
            <a title="Plan du site" href="#" target="_blank" rel="noopener">Plan du site</a>
        </li>
    </ul>

    <div class="d-flex flex-column align-items-center">
        <p class="fs-12 lh-16 fw-900">Copyright © 2022 Negomarkets Tous droits réservés.</p>
        <p class="fs-12 mt-3 mt-md-0 text-md-right lh-16">Magasin, canapé, meuble, literie, décoration</p>
    </div>
</div>